head {

}

body {

  background-image: linear-gradient(45deg, ##f2f3f4 0%, #fad0c4 99%, #fad0c4 100%);
  text-align: center;


  text-align: center;
  font-family: Kalam;

}


h1 {
  font-family: 'Kalam', cursive;
  font-size: 50px;
  color: white;

}

h1, h2 {

  line-height: 80%;
}

h2, h3, h4 {
  font-family: 'Kalam', cursive;
  font-size: 25px;
  color: brown;
}


.text-left {
  text-align: left;
}


p,ol {
  font-size: 20px;
  color: brown;
}

ul {
  text-align: center;
  font-size: 20px;
  color: brown;
}

li{
  text-align: right;
  color: brown;
}

.green-frame {
  background: #E0CDA9;
  border: 5px solid black;
  border-radius: 30px;
/*  margin: 100px;*/
  padding: 50px;
  box-shadow: 5px 5px 10px grey;
}

.margin-100 {
  margin: 100px;
}

.margin-50px-right {
  margin-right: 50px;
}


.color-green {
  color: green;
}


.prod {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.btn-pink {
  display: inline-block;
  margin: 15px;
  background: #C86573;
  border-radius: 10px;
  padding: 3px;
  color: black;
  font-weight: bold;
  border: 5px solid black;
  text-decoration: none;
}

.btn-pink:hover {
  background: #E0CDA9;
}


.line-transparent {
  /*height: 400px;*/
  background: #E0CDA9;
  display: flex; /*permet de mettre les enfants les uns à coté des autres*/
  justify-content: space-between;
  align-items: center;
}


.two-sections {
  display: flex;
}

.three-sections {
  display: flex;
  justify-content: space-around;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}





.switchboxCont {
  position: relative;
  width: 10%;
  margin: 10% auto;
}

.switch {
  visibility: hidden;
  margin-left: -9999px;
  position: absolute;
}
.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 2px 5px;
  width: 140px;
  height: 70px;
  border-radius: 80px;
  box-shadow: 1px 1px 1px 1px rgba(10, 13, 31, 0.95);
  user-select: none;
}
.switch + label:before {
  right: 1px;
  background: #4252E7;
  border-radius: 75px;
  transition: 0.4s;
}
.switch + label:after {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 100%;
  transition: 0.4s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input.switch + label:before, input.switch + label:after {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: "";
}

.switch:checked + label:before {
  background-color: #3B3A40;
}
.switch:checked + label:after {
  margin-left: 77px;
}






body {
  overflow-x: hidden;
}

body {
  animation: bgDarken 10s linear;
}

.machine {
  position: relative;
  margin-top: 20%;
  border-top: 5px solid white;
  border-bottom: 2px solid white;
  height: 200px;
  background-color: #aaa;
  background-size: 15px 15px;
  background-position: 0 0, 30px 30px;
  width: 100%;
}
.machine .belt-container {
  position: absolute;
  left: -1500px;
  animation: moveBelt 30s infinite linear;
}
.machine .belt {
  position: absolute;
  top: -10px;
  height: 5px;
  width: 100px;
  background-color: black;
}
.machine .belt .cake .layer {
  border-radius: 5px 5px 0 0;
}
.machine .belt .cake .layer-1 {
  position: relative;
  top: -25px;
  left: 12.5px;
  border-radius: 0;
  height: 25px;
  width: 75%;
}
.machine .belt .cake .filling {
  position: relative;
  top: -50px;
  left: 12.5px;
  height: 3px;
  width: 75%;
  background-color: white;
}
.machine .belt .cake .layer-2 {
  position: relative;
  top: -73px;
  left: 12.5px;
  height: 20px;
  width: 75%;
}
.machine .belt .cake .topping {
  position: relative;
  top: -98px;
  left: 20px;
  height: 5px;
  width: 60%;
}
.machine .belt .cake .candle {
  position: absolute;
  top: -65px;
  left: calc(50% - 12.5px);
  height: 3px;
  width: 25px;
  background-color: white;
  transform: rotate(90deg);
}
.machine .belt .cake .candle:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -10px;
  right: 25px;
  height: 5px;
  background-color: orange;
  box-shadow: 0 0 140px 15px yellow;
  animation: candleFlicker 3s linear infinite;
}

@keyframes moveBelt {
  0% {
    left: 100%;
  }
  100% {
    left: -1500px;
  }
}
@keyframes candleFlicker {
  0% {
    box-shadow: none;
  }
  5% {
    box-shadow: 0 0 75px 10px yellow;
  }
  15% {
    box-shadow: none;
  }
  18% {
    box-shadow: 0 0 75px 10px yellow;
  }
  100% {
    box-shadow: 0 0 140px 15px yellow;
  }
}


 